*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#tabel{
  width: 600px;
  height: 500px;
  border: none;
  box-sizing: border-box;
  padding: 30px;
  border-spacing: 20px;
  background: linear-gradient(to top, black, gray, black, black, gray);
  border-radius: 0 0 16px 16px;
}

td{
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
  width: 100px;
  height: 50px;
  margin: 10px;
}

#rezultat{
  background-color: rgb(209, 255, 255);
  width: 510px;
  height: 80px;
  border-radius: 20px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  overflow: hidden;
}

#rezultat-container{
  width: 600px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black, gray);
  border-radius: 16px 16px 0 0;
}

#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/frumos.jpg");
  background-position: center;
  background-size: cover;
}

#rezultat2{
  color: rgb(0, 0, 0);
  text-shadow: 4px 0 4px rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#egal{
  background: linear-gradient(to bottom, rgb(255, 255, 23), rgb(255, 93, 34));
  border: 1px solid black;
  color: white;
  box-shadow: 0 0 2px rgb(216, 142, 45);
}

#egal:hover{
  background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(255, 128, 82));

}

.semne{
  background: linear-gradient(to bottom, white, rgb(199, 199, 199));
  color: black;
}

.semne:hover{
  background: linear-gradient(to bottom, white, gray);
}

.n{
  transition: .3s;
  background: linear-gradient(to bottom, white, cyan);
}

.n:hover{
  background: linear-gradient(to bottom, white, rgb(10, 187, 187));
  box-shadow: 0 0 4px #ffffff;
}
