*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#tabel{
  width: 600px;
  height: 500px;
  border: 1px solid rgb(135, 135, 135);
  padding: 30px;
  border-spacing: 20px;
  background: linear-gradient(to top, black, gray, black, black, gray);
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

td{
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
  width: 100px;
  height: 50px;
  margin: 10px;
}

#rezultat{
  background-color: rgb(209, 255, 255);
  width: 510px;
  height: 80px;
  border-radius: 20px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  overflow: hidden;
}

#rezultat-container{
  border: 1px solid rgb(135, 135, 135);
  width: 600px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black, gray);
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);
}

#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/frumos.jpg");
  background-position: center;
  background-size: cover;
}

#rezultat2{
  color: rgb(0, 0, 0);
  text-shadow: 4px 0 4px rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#egal{
  background: linear-gradient(to bottom, rgb(255, 255, 23), rgb(255, 93, 34));
  border: 1px solid black;
  color: white;
  box-shadow: 0 0 2px rgb(216, 142, 45);
}

#egal:hover{
  background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(255, 128, 82));
  box-shadow: 0 0 4px #ffffff;
}
td:hover{
  box-shadow: 0 0 4px #ffffff;
}
.semne{
  background: linear-gradient(to bottom, white, rgb(199, 199, 199));
  color: black;
}

.semne:hover{
  background: linear-gradient(to bottom, white, gray);
}

.n{
  background: linear-gradient(to bottom, white, cyan);
}

.n:hover{
  background: linear-gradient(to bottom, white, rgb(8, 141, 141));
  box-shadow: 0 0 4px #ffffff;
}

@media(max-width: 600px){
  #tabel{
    width: 90%;
    height: 200px;
    border-spacing: 5px;
  }
  #rezultat{
    width: 300px;
    height: 50px;
    font-size: 2rem;
  }
  #rezultat-container{
    width: 90%;
    height: 100px;
  }
  td{
    width: 40px;
    height: 50px;
    font-size: 2rem;
  }
}

@media(max-height: 600px){
  #tabel{
    width: 300px;
    height: 150px;
    border-spacing: 5px;
    padding: 10px;
  }
  #rezultat{
    width: calc(100% - 20px);
    height: 50px;
    font-size: 1.7rem;
  }
  #rezultat-container{
    position: relative;
    top: 2px;
    width: 300px;
    height: 90px;
  }
  td{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
}
